body {
  background: url(../images/shopping.jpg) no-repeat center center fixed;
  background-color: #f5f5f7;
  background-size: cover;
  font-family: 'Cinzel', serif;
}

div {
  background-color: #49143c;
  border-radius: 3px;
  bottom: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  left: 0;
  max-height: 400px;
  max-width: 350px;
  padding: 10px 20px;
  position: absolute;
  text-align: center;
}
